<!-- begin::Offcanvas Toolbar Profile -->
<div id="kt_offcanvas_toolbar_profile" class="kt-offcanvas-panel">
    <div class="kt-offcanvas-panel__head">
        <h3 class="kt-offcanvas-panel__title">
            Profile
        </h3>
        <a href="#" class="kt-offcanvas-panel__close" id="kt_offcanvas_toolbar_profile_close"><i class="flaticon2-delete"></i></a>
    </div>
    <div class="kt-offcanvas-panel__body">
        <div class="kt-user-card-v3 kt-margin-b-30">
            <div class="kt-user-card-v3__avatar">
                <img src="./assets/media/users/300_21.jpg" alt="" />
            </div>
            <div class="kt-user-card-v3__detalis">
                <a href="#" class="kt-user-card-v3__name">James Jones</a> 
                <div class="kt-user-card-v3__desc"> Application Developer </div>
                <div class="kt-user-card-v3__info">
                    <a href="#" class="kt-user-card-v3__item"> <i class="flaticon-email-black-circular-button kt-font-brand"></i> <span class="kt-user-card-v3__tag">jm@softplus.com</span> </a>
                    <a href="#" class="kt-user-card-v3__item"> <i class="flaticon-twitter-logo-button kt-font-success"></i> <span class="kt-user-card-v3__tag">@jmdev</span> </a>
                </div>
            </div>
        </div>
        <div class="kt-offcanvas-panel__section kt-margin-t-50"> Sales Stats </div>
        <div class="kt-widget-1">
            <div class="kt-widget-1__body-items">
                <div class="kt-widget-1__body-item">
                    <div class="kt-widget-1__body-item-info">
                        <a href="#">
                            <div class="kt-widget-1__body-item-title">HTML 5 Templates</div>
                        </a>
                        <div class="kt-widget-1__body-item-desc">Font-end,Admin &amp; Email</div>
                    </div>
                    <div class="kt-widget-1__body-item-stats">
                        <div class="kt-widget-1__body-item-value">+79%</div>
                        <div class="kt-widget-1__body-item-progress">
                            <div class="progress">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 79%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="kt-widget-1__body-item">
                    <div class="kt-widget-1__body-item-info">
                        <a href="#">
                            <div class="kt-widget-1__body-item-title">Wordpress Themes</div>
                        </a>
                        <div class="kt-widget-1__body-item-desc">eCommerce Website, Plugin</div>
                    </div>
                    <div class="kt-widget-1__body-item-stats">
                        <div class="kt-widget-1__body-item-value">+21%</div>
                        <div class="kt-widget-1__body-item-progress">
                            <div class="progress">
                                <div class="progress-bar bg-primary" role="progressbar" style="width: 60%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="kt-widget-1__body-item">
                    <div class="kt-widget-1__body-item-info">
                        <a href="#">
                            <div class="kt-widget-1__body-item-title">eCommerce Websites</div>
                        </a>
                        <div class="kt-widget-1__body-item-desc">Shops, Fasion wep sites &amp; atc</div>
                    </div>
                    <div class="kt-widget-1__body-item-stats">
                        <div class="kt-widget-1__body-item-value">-16%</div>
                        <div class="kt-widget-1__body-item-progress">
                            <div class="progress">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 80%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="kt-widget-1__body-item">
                    <div class="kt-widget-1__body-item-info">
                        <a href="#">
                            <div class="kt-widget-1__body-item-title">UI/UX Design</div>
                        </a>
                        <div class="kt-widget-1__body-item-desc">Evrything you ever imagine</div>
                    </div>
                    <div class="kt-widget-1__body-item-stats">
                        <div class="kt-widget-1__body-item-value">+4%</div>
                        <div class="kt-widget-1__body-item-progress">
                            <div class="progress">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 90%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="kt-offcanvas-panel__section kt-margin-t-50"> Top Products </div>
        <div class="kt-widget-4">
            <div class="kt-widget-4__items">
                <div class="kt-widget-4__item">
                    <div class="kt-widget-4__itek-content">
                        <div class="kt-widget-4__itek-section">
                            <div class="kt-widget-4__item-pic">
                                <img class="" src="./assets/media/product-logos/logo1.png" alt="">
                            </div>
                            <div class="kt-widget-4__item-info">
                                <a href="#">
                                    <div class="kt-widget-4__item-username">Circle Desige</div>
                                </a>
                                <div class="kt-widget-4__item-desc">UI/UX, Animation, Design</div>
                            </div>
                        </div>
                    </div>
                    <div class="kt-widget-4__itek-content">
                        <div class="kt-widget-4__item-price"> <span class="kt-widget-4__itek-badge">$</span> <span class="kt-widget-4__item-number">2,830</span> </div>
                    </div>
                </div>
                <div class="kt-widget-4__item">
                    <div class="kt-widget-4__itek-content">
                        <div class="kt-widget-4__itek-section">
                            <div class="kt-widget-4__item-pic">
                                <img class="" src="./assets/media/product-logos/logo2.png" alt="">
                            </div>
                            <div class="kt-widget-4__item-info">
                                <a href="#">
                                    <div class="kt-widget-4__item-username">Clip Code</div>
                                </a>
                                <div class="kt-widget-4__item-desc">PHP, NET, Python, Ruby</div>
                            </div>
                        </div>
                    </div>
                    <div class="kt-widget-4__itek-content">
                        <div class="kt-widget-4__item-price"> <span class="kt-widget-4__itek-badge">$</span> <span class="kt-widget-4__item-number">4,975</span> </div>
                    </div>
                </div>
                <div class="kt-widget-4__item">
                    <div class="kt-widget-4__itek-content">
                        <div class="kt-widget-4__itek-section">
                            <div class="kt-widget-4__item-pic">
                                <img class="" src="./assets/media/product-logos/logo3.png" alt="">
                            </div>
                            <div class="kt-widget-4__item-info">
                                <a href="#">
                                    <div class="kt-widget-4__item-username">JS-Nijas</div>
                                </a>
                                <div class="kt-widget-4__item-desc">jQuery, AngularJS, Recct</div>
                            </div>
                        </div>
                    </div>
                    <div class="kt-widget-4__itek-content">
                        <div class="kt-widget-4__item-price"> <span class="kt-widget-4__itek-badge">$</span> <span class="kt-widget-4__item-number">3.594</span> </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="kt-margin-t-40">
            <button type="button" class="btn btn-brand btn-font-sm btn-upper btn-bold">full profile</button>
        </div>
    </div>
</div>
<!-- end::Offcanvas Toolbar Profile -->