<!-- begin::Offcanvas Toolbar Notifications -->
<div id="kt_offcanvas_toolbar_notifications" class="kt-offcanvas-panel">
    <div class="kt-offcanvas-panel__head">
        <h3 class="kt-offcanvas-panel__title">
            Notifications<small>24 New</small>
        </h3>
        <a href="#" class="kt-offcanvas-panel__close" id="kt_offcanvas_toolbar_notifications_close"><i class="flaticon2-delete"></i></a>
    </div>
    <div class="kt-offcanvas-panel__body">
        <div class="kt-notification-v2">
            <a href="#" class="kt-notification-v2__item">
                <div class="kt-notification-v2__item-icon"> <i class="flaticon-bell kt-font-success"></i></div>
                <div class="kt-notification-v2__itek-wrapper">
                    <div class="kt-notification-v2__item-title"> 5 new user generated report</div>
                    <div class="kt-notification-v2__item-desc"> Reports based on sales</div>
                </div>
            </a>
            <a href="#" class="kt-notification-v2__item">
                <div class="kt-notification-v2__item-icon"> <i class="flaticon2-box kt-font-danger"></i></div>
                <div class="kt-notification-v2__itek-wrapper">
                    <div class="kt-notification-v2__item-title"> 2 new items submited</div>
                    <div class="kt-notification-v2__item-desc"> by Grog John</div>
                </div>
            </a>
            <a href="#" class="kt-notification-v2__item">
                <div class="kt-notification-v2__item-icon"> <i class="flaticon-psd kt-font-brand"></i></div>
                <div class="kt-notification-v2__itek-wrapper">
                    <div class="kt-notification-v2__item-title"> 79 PSD files generated</div>
                    <div class="kt-notification-v2__item-desc"> Reports based on sales</div>
                </div>
            </a>
            <a href="#" class="kt-notification-v2__item">
                <div class="kt-notification-v2__item-icon"> <i class="flaticon2-supermarket kt-font-warning"></i></div>
                <div class="kt-notification-v2__itek-wrapper">
                    <div class="kt-notification-v2__item-title"> $2900 worth producucts sold</div>
                    <div class="kt-notification-v2__item-desc"> Total 234 items</div>
                </div>
            </a>
            <a href="#" class="kt-notification-v2__item">
                <div class="kt-notification-v2__item-icon"> <i class="flaticon-paper-plane-1 kt-font-success"></i></div>
                <div class="kt-notification-v2__itek-wrapper">
                    <div class="kt-notification-v2__item-title"> 4.5h-avarage response time</div>
                    <div class="kt-notification-v2__item-desc"> Fostest is Barry</div>
                </div>
            </a>
            <a href="#" class="kt-notification-v2__item">
                <div class="kt-notification-v2__item-icon kt-font-danger"> <i class="flaticon-safe-shield-protection"></i></div>
                <div class="kt-notification-v2__itek-wrapper">
                    <div class="kt-notification-v2__item-title"> 3 Defence alerts</div>
                    <div class="kt-notification-v2__item-desc"> 40% less alerts thar last week</div>
                </div>
            </a>
            <a href="#" class="kt-notification-v2__item">
                <div class="kt-notification-v2__item-icon kt-font-brand"> <i class="flaticon-notepad"></i></div>
                <div class="kt-notification-v2__itek-wrapper">
                    <div class="kt-notification-v2__item-title"> Avarage 4 blog posts per author</div>
                    <div class="kt-notification-v2__item-desc"> Most posted 12 time</div>
                </div>
            </a>
            <a href="#" class="kt-notification-v2__item">
                <div class="kt-notification-v2__item-icon kt-font-warning"> <i class="flaticon-users-1"></i></div>
                <div class="kt-notification-v2__itek-wrapper">
                    <div class="kt-notification-v2__item-title"> 16 authors joined last week</div>
                    <div class="kt-notification-v2__item-desc"> 9 photodrapehrs, 7 designer</div>
                </div>
            </a>
            <a href="#" class="kt-notification-v2__item">
                <div class="kt-notification-v2__item-icon"> <i class="flaticon2-box kt-font-info"></i></div>
                <div class="kt-notification-v2__itek-wrapper">
                    <div class="kt-notification-v2__item-title"> 2 new items have been submited</div>
                    <div class="kt-notification-v2__item-desc"> by Grog John</div>
                </div>
            </a>
            <a href="#" class="kt-notification-v2__item">
                <div class="kt-notification-v2__item-icon kt-font-success"> <i class="flaticon2-download"></i></div>
                <div class="kt-notification-v2__itek-wrapper">
                    <div class="kt-notification-v2__item-title"> 2.8 GB-total downloads size</div>
                    <div class="kt-notification-v2__item-desc"> Mostly PSD end AL concepts</div>
                </div>
            </a>
            <a href="#" class="kt-notification-v2__item">
                <div class="kt-notification-v2__item-icon"> <i class="flaticon2-supermarket kt-font-danger"></i></div>
                <div class="kt-notification-v2__itek-wrapper">
                    <div class="kt-notification-v2__item-title"> $2900 worth producucts sold</div>
                    <div class="kt-notification-v2__item-desc"> Total 234 items</div>
                </div>
            </a>
            <a href="#" class="kt-notification-v2__item">
                <div class="kt-notification-v2__item-icon"> <i class="flaticon-bell kt-font-brand"></i></div>
                <div class="kt-notification-v2__itek-wrapper">
                    <div class="kt-notification-v2__item-title"> 7 new user generated report</div>
                    <div class="kt-notification-v2__item-desc"> Reports based on sales</div>
                </div>
            </a>
            <a href="#" class="kt-notification-v2__item">
                <div class="kt-notification-v2__item-icon"> <i class="flaticon-paper-plane-1 kt-font-success"></i></div>
                <div class="kt-notification-v2__itek-wrapper">
                    <div class="kt-notification-v2__item-title"> 4.5h-avarage response time</div>
                    <div class="kt-notification-v2__item-desc"> Fostest is Barry</div>
                </div>
            </a>
        </div>
    </div>
</div>
<!-- end::Offcanvas Toolbar Notifications -->