@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all);/*
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.4.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.4.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.4.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.4.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.4.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
*/


.linkActive {
    cursor: pointer;
}

.insertFile {
    cursor: pointer;
}

.kt-login.kt-login--v5 .kt-login__right .kt-login__wrapper .kt-login__form .form-control {
    padding: 0.65rem 1rem !important
}

.kt-menu__section {
    margin: 0 !important;
}

/*
Select2
*/
.select2-container--default .select2-results > .select2-results__options {
    max-height: 400px;
}


/*
DataTable
*/
td.align-center {
    text-align: center;
    padding-right: 10px;
}

td.align-right {
    text-align: right;
    padding-right: 10px;
}



/* OLD STUFF

.no-select {
  user-select: none !important;
}

ul.menu {
  min-width: 150px;
}

div.dataTables_wrapper div.dataTables_length label {
  font-size: 0 !important;
}

div.dataTables_filter {
  font-size: 0 !important;
}

div.dataTables_info {
  font-size: 12px !important;
  color: #9aacbb !important;
}

th.padding-left-th {
    padding-left: 10px !important;
}

th.padding-right-th {
    text-align: center;
    padding-right: 10px !important;
}

th.no-padding-left-right {
    padding-left: 2px !important;
    padding-right: 2px !important;
}

th.no-padding-left-right2 {
    padding-left: 2px !important;
    padding-right: 15px !important;
}

th.padding-foto {
    padding-left: 15px !important;
    padding-right: 5px !important;
    width: 40px !important;
}

td.text-10 {
    font-size: 11px;
}

td.nowrap {
    white-space: nowrap;
}

td.align-left {
    text-align: left !important;
}

td.align-center {
    text-align: center !important;
}

td.align-right {
  text-align: right !important;
  padding-right: 27px !important;
}

td.align-right2 {
  text-align: right !important;
  padding-right: 3px !important;
}

td.align-right3 {
    text-align: right !important;
    padding-right: 18px !important;
}

td.padding-left-td {
  padding-left: 20px !important;
}

td.padding-right-td {
  padding-right: 15px !important;
}

td.no-padding {
    padding: 0 !important;
}

td.padding-top-bottom {
    padding-bottom: 2px !important;
    padding-top: 2px !important;
}

td.no-padding-left {
    padding-left: 3px !important;
}

td.va-middle {
    vertical-align: middle !important;
}

td.abreEnlace {
    cursor: pointer;
}

td.check_lineas {
    cursor: pointer;
}
td.inserta_imagen {
    cursor: pointer;
}

div.dataTables_scroll{
  margin-bottom: 0!important;
}

.blacked .select2-container--bootstrap .select2-dropdown {
  z-index: 9999 !important;
}

.blacked .select2-dropdown {

  z-index: 9999 !important;
}

.rosca {
    position: relative !important;
    margin-top: -8px !important;
}

.table-scrollable .dataTable td>.btn-group.open {
    right: 12px;
    position: absolute !important;
    margin-top: -12px !important;
    display: inline-block;
    vertical-align: middle;
}

.line_brake {
    word-break: break-word;
}

*/




/**  cookie-consent **/

.cookie-consent {
    font-size: 0.9em;
    padding: 1em;
    background: #fff2e0;
    text-align: center;
}

.cookie-consent__message {
    display: inline-block;
    color: #d98e00;
}

.cookie-consent__message p {
    margin: 0;
}

.cookie-consent__agree {
    font-weight: bold;
    margin: 0 1em;
    padding: .5em 1em;
    color: #fff2e0;
    background-color: #d98e00;
    border: 0;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(217, 142, 0, 0.15);
}

.cookie-consent__agree:hover {
    background-color: #734d00;
}

.cookie-consent__agree:active {
    top: 1px;
}
