<!-- begin:: Page -->
<!--[html-partial:include:{"file":"partials\/_header-base-mobile.html"}]/-->
<div class="kt-grid kt-grid--hor kt-grid--root">
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
        <!--[html-partial:include:{"file":"partials\/_aside-base.html"}]/-->
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
            <!--[html-partial:include:{"file":"partials\/_header-base.html"}]/-->
            <div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
                <!--[html-partial:include:{"file":"partials\/_subheader-subheader-v3.html"}]/-->
                <!--[html-partial:include:{"file":"partials\/_content-base.html"}]/-->
            </div>
            <!--[html-partial:include:{"file":"partials\/_footer-base.html"}]/-->
        </div>
    </div>
</div>
<!-- end:: Page -->
<!--[html-partial:include:{"file":"partials\/_offcanvas-search.html"}]/-->
<!--[html-partial:include:{"file":"partials\/_offcanvas-notifications.html"}]/-->
<!--[html-partial:include:{"file":"partials\/_offcanvas-quick-actions.html"}]/-->
<!--[html-partial:include:{"file":"partials\/_offcanvas-user.html"}]/-->
<!--[html-partial:include:{"file":"partials\/_layout-quick-panel.html"}]/-->
<!--[html-partial:include:{"file":"partials\/_layout-scrolltop.html"}]/-->
<!--[html-partial:include:{"file":"partials\/_layout-toolbar.html"}]/-->
<!--[html-partial:include:{"file":"partials\/_layout-demo-panel.html"}]/-->
<!--[html-partial:include:{"file":"partials\/_layout-chat.html"}]/-->